@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-image: linear-gradient(90deg, #2a1a3d   0%, #6a0dad  50%, #1a1130   100%);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    margin: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.47);
    position: relative;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    height: 15vh;
    opacity: 0;
    transform: translateY(-10px);
    animation: headerDrop 1.7s cubic-bezier(0.25, 1, 0.5, 1) 0s forwards;
}

@keyframes headerDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#Rho-logo {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.rho-text {
    font-family: "Edu SA Hand", cursive;
    font-size: 32px;
    color: #f782ff;
}

a {
    text-decoration: none;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.right-content {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.header-section {
    display: flex;
}

.download {
    border: none;
    height: 65px;
    width: 250px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #79018c 30px, #b200aa 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #faadff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
    /* box-shadow: 0 4px 8px rgba(106, 13, 173, 0.4); */
}

.download::before {
    content: "Install ";
}

.download:hover {
    cursor: pointer;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.welcome-text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    opacity: 0;
    color: #f782ff;
    text-shadow: 5px 6px 5px #000000;
    transform: translateY(30px);
    animation: fade-in 2s cubic-bezier(0.25, 1, 0.5, 1) 0.15s forwards;
}

h1.welcome-text {
    font-size: 6vw;
    font-weight: 900;
}

p.welcome-text {
    font-size: 2vw;
}

.down-arrow {
    position: fixed;
    justify-content: center;
    bottom: 20px;
    left: 50%;
    /* transform: translateX(-50%);  */
    background-color: #f782ff;
    cursor: pointer;
    z-index: 20;
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#arrow-svg {
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
}

#Body {
    transition: transform 1s ease, opacity 1s ease;
}

.slide-up {
    transform: translateY(-100vh);
    opacity: 0;
    pointer-events: none;
    /* prevent interaction */
}

#next-page {
    display: none;
}

/* If you want a nicer transition later: */
#next-page.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#toast {
    visibility: hidden;
    min-width: 80vw;
    background-color: #f44336;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}




@media (max-width: 600px) {
    .rho-text {
        display: none;
    }

    .left-content {
        margin-left: 5px;
    }

    .right-content {
        gap: 10px;
        margin-right: 0px;
    }

    .download {
        width: 30vw;
    }

    .download::before {
        content: none;
    }


    h1.welcome-text {
        font-size: 6vh;
        font-weight: 900;
    }

    p.welcome-text {
        font-size: 2vh;
    }

    .down-arrow {
        position: fixed;
        justify-content: center;
        left: 40%;
        background-color: #f782ff;
        cursor: pointer;
        z-index: 20;
        height: 10vh;
        width: 10vh;
        border-radius: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}