@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
    background-image: linear-gradient(90deg, #4b0a86 0%, #79018c 35%, #b200aa 100%);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.47);
    position: relative;
    z-index: 10;
    /* border-radius: ; */
    height: 110px;
}

#Rho-logo{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.rho-text{
    font-family: "Charm", cursive;
    font-size:35px;
    color: #f782ff;
}

a{
    text-decoration: none;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.header-section{
    display: flex;
}

.download{
    height: 30px;
    border: none;
    height: 65px;
    width: 150px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #79018c 65%, #b200aa 100%);
    font-size: 15px;
    font-weight: 600;
    color: #faadff;
}

.download:hover{
    cursor: pointer;
}